#Global Ignore Files
bin
chart.html
data
gemini_modules
include
init.sh
lib
lib64
pyvenv.cfg
QFin PowerPoint Momentum Trading.pptx
ta-lib
.vscode

#Peronal Ignore Files
.python-version
token.txt
share
kanes_strat.py
important_bash_command.txt
momentum_algorithm_save.py
results-data

#Testing Ignore Files
results
datatest
datadump